.header-height {
  height: 250px;
}

.header-container {
  position: relative;
}

.header-input {
  background: white;
  padding: 5px;
  border: solid #ffc107 3px;
  border-radius: 5px;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
}

.header-input_box {
  border-style: none;
}

.form-info .fa {
  color: #999;
}
.form_input_amount input {
  font-size: 14px;
}

.form_input_amount .input_adult {
  font-size: 14px;
  width: 50px;
}

.form_input_amount .input_children {
  font-size: 14px;
  width: 67px;
}

.form_input_amount .input_room {
  font-size: 14px;
  width: 50px;
}
.date_range_position {
  position: absolute;
  left: 43%;
  transform: translateX(-50%);
  top: 103%;
  z-index: 10;
  display: none;
}

.date_range_display {
  display: block;
}
