body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CSS CHO NarBar  */
/*------------------------------------------------------------*/

.navbar-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.color-black {
  background-color: #000;
}

.animation-appear {
  animation-name: colorBlack;
  animation-duration: 1s;
}

@keyframes colorBlack {
  from {
    background-color: rgb(0, 0, 0, 0);
  }
  to {
    background-color: #000;
  }
}

.color-transparent {
  background-color: rgb(0, 0, 0, 0);
}

.animation-disappear {
  animation-name: colorTransparent;
  animation-duration: 1s;
}

@keyframes colorTransparent {
  from {
    background-color: #000;
  }
  to {
    background-color: rgb(0, 0, 0, 0);
  }
}
.navbar-container .app-name {
  text-decoration: none;
  font-size: 26px;
  font-weight: 800;
}
.navbar-container .search-icon {
  cursor: pointer;
}

/* CSS CHO Banner  */
/*------------------------------------------------------------*/

/* css cho background cua banner o chinh giua và responsive  */
.banner-container.background-center {
  background-color: #000;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}

.banner-info {
  width: 35vw;
  position: absolute;
  top: 35%;
  font-weight: 500;
}

/* CSS overflow paragraph  */
.banner-info-box {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.banner-container .banner-info button {
  font-weight: 500;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: rgba(129, 129, 129, 0.5);
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.banner-container .banner-info button:hover {
  color: rgb(239, 239, 239);
  background-color: rgba(220, 220, 220, 0.5);
}

.banner-name {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/* CSS CHO OriginalList  */
/*------------------------------------------------------------*/

.originalList-container {
  /* hiển thị theo chiều ngang */
  overflow: auto;
  white-space: nowrap;

  background-color: #000;
}

/* css thanh scrollbar  */
/* width */
::-webkit-scrollbar {
  height: 1vh;
}

/* Track - thanh chứa scroll */
::-webkit-scrollbar-track {
  background: #3f3f3f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(169, 169, 169);
  border-radius: 5px;
  width: 10vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 90, 90);
}

.original-poster {
  width: 9vw;
  height: 30vh;
}

.transition {
  transition: transform 0.5s;
}

.transition:hover {
  transform: scale(1.1, 1.1);
}
